.CategoryPagination {
  margin: 0 auto;
  width: 9rem;
  padding-top: 2rem;
  font-size: 1.5rem;
  cursor: pointer;

  a {
    color: #5a5554c9;
    text-decoration: none;
    transition: background-color 0.4s;
    padding: 0.4rem 0.9rem;
    border-radius: 50%;
    &.Active {
      background-color: #54768b;
      color: #fff;
    }
    &:hover:not(.Active) {
      background-color: #54768b5e;
    }
    &.Disable {
      color: #5a55549a;
      cursor: not-allowed;
      &:hover:not(.Active) {
        background-color: #fff;
      }
    }
  }
}
