.Follow {
  &__button button {
    border: 1px solid #5a5554d7;
    color: #5a5554d7;
    font-size: 12px;
    border-radius: 5px;
    width: 74px;
    height: 20px;
    align-items: center;
    text-align: center;
    cursor: pointer;
  }
}
