@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
$main-color: rgb(62, 81, 95);
$main-hover: rgb(36, 46, 53);
$font-color: #555353;
$primary-color: #54768b;
$clean-blue: #e2e7eb;
$white: #fafafa;
$white-hover: #e2f8f8;
$blue: #41afd1;
$blue-hover: #a38933;
$black: rgb(62, 81, 95);
$grey: #a2a4a5;
$brighter: #cacfd1;
$danger: #f76060;

.Toolbar {
  margin-top: -4rem;
  width: 100%;
  height: 5rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.116) 5px 5px 5px;
  display: flex;
  padding-top: 4.4rem;
  justify-content: space-between;
  position: fixed;
  z-index: 250;
}

@media (max-width: 1020px) {
  .Toolbar {
    margin-top: -4rem;
    width: 100%;
    height: 2rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.116) 5px 5px 5px;
    display: flex;
    padding-top: 4.4rem;
    justify-content: space-between;
    position: fixed;
    z-index: 250;
  }
}

@media screen and (min-width: 1020px) and (max-width: 1199px) {
  .Toolbar {
    margin-top: -4rem;
    width: 100%;
    height: 3rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.116) 5px 5px 5px;
    display: flex;
    padding-top: 4.4rem;
    justify-content: space-between;
    position: fixed;
    z-index: 250;
  }
}
