@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
$main-color: rgb(62, 81, 95);
$main-hover: rgb(36, 46, 53);
$font-color: #555353;
$primary-color: #54768b;
$clean-blue: #e2e7eb;
$white: #fafafa;
$white-hover: #e2f8f8;
$blue: #41afd1;
$blue-hover: #a38933;
$black: rgb(62, 81, 95);
$grey: #a2a4a5;
$brighter: #cacfd1;
$danger: #f76060;

body {
  font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 550px) {
  .Profile {
    width: 100%;
    margin-top: 1rem;
    .Tab {
      width: 100%;
      padding: 2rem 0;
      .TabLinks {
        color: $font-color;
        text-align: center;
        font-weight: 750;
        font-size: 0.7rem;
        float: left;
        width: 18%;
        padding: 0 0.5% 0 0.5%;
      }
    }
    .FollowMe {
      width: 15rem;
      margin: 2rem auto;
      color: $font-color;
      text-align: center;
      border-top: #5a555431 solid 1px;
      border-bottom: solid 1px #5a555431;
      padding-bottom: 1.5rem;
      h2 {
        font-size: 1.2rem;
      }
      a {
        padding-right: 0.5rem;
        font-size: 1.5rem;
        color: #5a5554ea;
      }
    }
    .SocialMedia {
      font-size: 2rem;
      a {
        text-decoration: none;
        color: #5a5554;
        &:active,
        &:hover {
          color: #54768b;
        }
      }
    }
    .ProfileTab {
      margin: 0 0rem 0 -0.81rem;
      color: $font-color;
      padding: 0.5rem 0.7rem;
      width: 100%;
      font-size: 0.8rem;

      height: fit-content;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.274);
      span {
        display: block;
      }
    }
    .ProfileTab:hover {
      cursor: default;
    }
    .Location {
      padding-bottom: 0.6rem;
    }
    .Details {
      color: #5a55549a;
      font-size: 0.6rem;
    }
    .Bio {
      line-height: 1.3;
      text-align: justify;
    }
    .Skills {
      i {
        font-style: normal;
        padding-right: 0.7rem;
        color: #54768bc9;
        cursor: pointer;
        &:hover {
          color: #3c525f;
        }
      }
    }
    .Posts {
      padding-top: 2rem;
      a {
        text-decoration: none;
      }
    }
    .MyPosts {
      img {
        width: 100%;
        height: 16rem;
        object-fit: cover;
      }
    }
    .PostTitle {
      font-family: 'M PLUS 1p', sans-serif;
      font-weight: 700;
      line-height: 1;
      padding-top: 0.3rem;
      padding-bottom: 0.7rem;
      color: #5a5554;
    }
    .PostDetails {
      font-family: 'M PLUS 1p', sans-serif;
      color: #5a5554a8;
      font-size: 0.7rem;
    }
    .MyFollowers {
      display: grid;
      grid-template-areas:
        'my-follower-img my-follower-name'
        'my-follower-img my-follower-follow-box';
      grid-template-columns: 6rem 6rem;
      height: 4rem;
      grid-gap: 1rem;
      padding: 2rem 0rem;
      border-bottom: #5a555431 solid 1px;
      img {
        margin-top: -1rem;
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }
    }
    .Avatar {
      grid-area: my-follower-img;
    }
    .Name {
      grid-area: my-follower-name;
    }
    .Follow,
    .UnFollow {
      grid-area: my-follower-follow-box;
      margin-top: -1.5rem;
      text-align: center;
      border: solid 1px #5a555491;
      padding: 0.3rem;
      font-size: 0.8rem;
      border-radius: 0.4rem;
      cursor: pointer;
      width: 4rem;
      height: 0.8rem;
    }
    .Follow {
      &:hover {
        color: #54768b;
        border-color: #54768b;
      }
      color: #5a5554d7;
    }
    .UnFollow {
      background-color: #5a5554;
      color: #fff;
      &:hover {
        background-color: #2e424e;
        border-color: #54768b;
      }
    }
  }
}

@media screen and (max-width: 750px) and (min-width: 550px) {
  .Profile {
    width: 100%;
    margin-top: 1rem;
    .Tab {
      width: 100%;
      padding: 2rem 0;
      .TabLinks {
        color: $font-color;
        text-align: center;
        font-weight: 750;
        font-size: 1rem;
        float: left;
        width: 18%;
        padding: 0 0.5% 0 0.5%;
      }
    }
    .FollowMe {
      width: 15rem;
      margin: 2rem auto;
      color: $font-color;
      text-align: center;
      border-top: #5a555431 solid 1px;
      border-bottom: solid 1px #5a555431;
      padding-bottom: 1.5rem;
      h2 {
        font-size: 1.7rem;
      }
      a {
        padding-right: 0.5rem;
        font-size: 1.5rem;
        color: #5a5554ea;
      }
    }
    .SocialMedia {
      font-size: 2.2rem;
      a {
        text-decoration: none;
        color: #5a5554;
        &:active,
        &:hover {
          color: #54768b;
        }
      }
    }
    .ProfileTab {
      margin: 0 0rem 0 -0.81rem;
      color: $font-color;
      padding: 0.5rem 0.7rem;
      width: 100%;
      font-size: 1rem;
      height: fit-content;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.274);
      span {
        display: block;
      }
    }
    .ProfileTab:hover {
      cursor: default;
    }
    .Location {
      padding-bottom: 0.6rem;
    }
    .Details {
      color: #5a55549a;
      font-size: 0.6rem;
    }
    .Bio {
      line-height: 1.3;
      text-align: justify;
    }
    .Skills {
      i {
        font-style: normal;
        padding-right: 0.7rem;
        color: #54768bc9;
        cursor: pointer;
        &:hover {
          color: #3c525f;
        }
      }
    }
    .Posts {
      font-size: 1rem;
      padding-top: 2rem;
      a {
        text-decoration: none;
      }
    }
    .MyPosts {
      font-size: 1rem;
      img {
        width: 100%;
        height: 16rem;
        object-fit: cover;
      }
    }
    .PostTitle {
      font-family: 'M PLUS 1p', sans-serif;
      font-weight: 700;
      line-height: 1;
      padding-top: 0.3rem;
      padding-bottom: 0.7rem;
      color: #5a5554;
    }
    .PostDetails {
      font-family: 'M PLUS 1p', sans-serif;
      color: #5a5554a8;
      font-size: 1rem;
    }
    .MyFollowers {
      display: grid;
      font-size: 1rem;
      grid-template-areas:
        'my-follower-img my-follower-name'
        'my-follower-img my-follower-follow-box';
      grid-template-columns: 6rem 10rem;
      height: 4rem;
      grid-gap: 1rem;
      padding: 2rem 0rem;
      border-bottom: #5a555431 solid 1px;
      img {
        margin-top: -1rem;
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }
    }
    .Avatar {
      grid-area: my-follower-img;
    }
    .Name {
      grid-area: my-follower-name;
    }
    .Follow,
    .UnFollow {
      grid-area: my-follower-follow-box;
      margin-top: -1.5rem;
      text-align: center;
      border: solid 1px #5a555491;
      padding: 0.5rem;
      font-size: 1rem;
      border-radius: 0.4rem;
      cursor: pointer;
      width: 4rem;
      height: 0.8rem;
    }
    .Follow {
      &:hover {
        color: #54768b;
        border-color: #54768b;
      }
      color: #5a5554d7;
    }
    .UnFollow {
      font-size: 1rem;
      background-color: #5a5554;
      color: #fff;
      &:hover {
        background-color: #2e424e;
        border-color: #54768b;
      }
    }
  }
}

@media screen and (max-width: 1020px) and (min-width: 750px) {
  .Profile {
    width: 100%;
    margin-top: 1rem;
    .Tab {
      width: 100%;
      padding: 2rem 0;
      .TabLinks {
        color: $font-color;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 750;
        float: left;
        width: 18%;
        padding: 0 0.5% 0 0.5%;
      }
    }
    .FollowMe {
      width: 15rem;
      margin: 2rem auto;
      color: $font-color;
      text-align: center;
      border-top: #5a555431 solid 1px;
      border-bottom: solid 1px #5a555431;
      padding-bottom: 1.5rem;
      h2 {
        font-size: 1.9rem;
      }
      a {
        padding-right: 0.5rem;
        font-size: 1.5rem;
        color: #5a5554ea;
      }
    }
    .SocialMedia {
      font-size: 2.2rem;
      a {
        text-decoration: none;
        color: #5a5554;
        &:active,
        &:hover {
          color: #54768b;
        }
      }
    }
    .ProfileTab {
      margin: 0 0rem 0 -0.81rem;
      color: $font-color;
      padding: 0.5rem 0.7rem;
      width: 100%;
      font-size: 1.1rem;
      height: fit-content;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.274);
      span {
        display: block;
      }
    }
    .ProfileTab:hover {
      cursor: default;
    }
    .Location {
      padding-bottom: 0.6rem;
    }
    .Details {
      color: #5a55549a;
      font-size: 0.6rem;
    }
    .Bio {
      line-height: 1.3;
      text-align: justify;
    }
    .Skills {
      i {
        font-style: normal;
        padding-right: 0.7rem;
        color: #54768bc9;
        cursor: pointer;
        &:hover {
          color: #3c525f;
        }
      }
    }
    .Posts {
      font-size: 1.1rem;
      padding-top: 2rem;
      a {
        text-decoration: none;
      }
    }
    .MyPosts {
      img {
        width: 100%;
        height: 16rem;
        object-fit: cover;
      }
    }
    .PostTitle {
      font-family: 'M PLUS 1p', sans-serif;
      font-weight: 700;
      line-height: 1;
      padding-top: 0.3rem;
      padding-bottom: 0.7rem;
      color: #5a5554;
    }
    .PostDetails {
      font-family: 'M PLUS 1p', sans-serif;
      font-size: 1.1rem;
      color: #5a5554a8;
    }
    .MyFollowers {
      font-size: 1.1rem;
      display: grid;
      grid-template-areas:
        'my-follower-img my-follower-name'
        'my-follower-img my-follower-follow-box';
      grid-template-columns: 6rem 10rem;
      height: 4rem;
      grid-gap: 1rem;
      padding: 2rem 0rem;
      border-bottom: #5a555431 solid 1px;
      img {
        margin-top: -1rem;
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }
    }
    .Avatar {
      grid-area: my-follower-img;
    }
    .Name {
      grid-area: my-follower-name;
    }
    .Follow,
    .UnFollow {
      grid-area: my-follower-follow-box;
      margin-top: -1.5rem;
      text-align: center;
      border: solid 1px #5a555491;
      padding: 0.5rem;
      font-size: 1.1rem;
      border-radius: 0.4rem;
      cursor: pointer;
      width: 6rem;
      height: 0.8rem;
    }
    .Follow {
      &:hover {
        color: #54768b;
        border-color: #54768b;
      }
      color: #5a5554d7;
    }
    .UnFollow {
      background-color: #5a5554;
      color: #fff;
      &:hover {
        background-color: #2e424e;
        border-color: #54768b;
      }
    }
  }
}

@media screen and (max-width: 2000px) and (min-width: 1020px) {
  .Profile {
    width: 70%;
    margin: 6% 15%;
    .Tab {
      width: 100%;
      padding: 2rem 0;
      .TabLinks {
        color: $font-color;
        text-align: center;
        font-weight: 750;
        font-size: 1.2rem;
        float: left;
        width: 18%;
        padding: 0 0.5% 0 0.5%;
      }
    }
    .FollowMe {
      width: 15rem;
      margin: 2rem auto;
      color: $font-color;
      text-align: center;
      border-top: #5a555431 solid 1px;
      border-bottom: solid 1px #5a555431;
      padding-bottom: 1.5rem;
      h2 {
        font-size: 1.9rem;
      }
      a {
        padding-right: 0.5rem;
        font-size: 1.5rem;
        color: #5a5554ea;
      }
    }
    .SocialMedia {
      font-size: 2.2rem;
      a {
        text-decoration: none;
        color: #5a5554;
        &:active,
        &:hover {
          color: #54768b;
        }
      }
    }
    .ProfileTab {
      margin: 0 0rem 0 -0.81rem;
      color: $font-color;
      padding: 0.5rem 0.7rem;
      width: 100%;
      font-size: 1.1rem;
      height: fit-content;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.274);
      span {
        display: block;
      }
    }
    .ProfileTab:hover {
      cursor: default;
    }
    .Location {
      padding-bottom: 0.6rem;
    }
    .Details {
      color: #5a55549a;
      font-size: 0.6rem;
    }
    .Bio {
      line-height: 1.3;
      text-align: justify;
    }
    .Skills {
      i {
        font-style: normal;
        padding-right: 0.7rem;
        color: #54768bc9;
        cursor: pointer;
        &:hover {
          color: #3c525f;
        }
      }
    }
    .Posts {
      font-size: 1.1rem;
      padding-top: 2rem;
      a {
        text-decoration: none;
      }
    }
    .MyPosts {
      img {
        width: 100%;
        height: 16rem;
        object-fit: cover;
      }
    }
    .PostTitle {
      font-family: 'M PLUS 1p', sans-serif;
      font-weight: 700;
      line-height: 1;
      padding-top: 0.3rem;
      padding-bottom: 0.7rem;
      color: #5a5554;
    }
    .PostDetails {
      font-family: 'M PLUS 1p', sans-serif;
      font-size: 1.1rem;
      color: #5a5554a8;
    }
    .MyFollowers {
      font-size: 1.1rem;
      display: grid;
      grid-template-areas:
        'my-follower-img my-follower-name'
        'my-follower-img my-follower-follow-box';
      grid-template-columns: 6rem 10rem;
      height: 4rem;
      grid-gap: 1rem;
      padding: 2rem 0rem;
      border-bottom: #5a555431 solid 1px;
      img {
        margin-top: -1rem;
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }
    }
    .Avatar {
      grid-area: my-follower-img;
    }
    .Name {
      grid-area: my-follower-name;
    }
    .Follow,
    .UnFollow {
      grid-area: my-follower-follow-box;
      margin-top: -1.5rem;
      text-align: center;
      border: solid 1px #5a555491;
      padding: 0.5rem;
      font-size: 1.1rem;
      border-radius: 0.4rem;
      cursor: pointer;
      width: 6rem;
      height: 0.8rem;
    }
    .Follow {
      &:hover {
        color: #54768b;
        border-color: #54768b;
      }
      color: #5a5554d7;
    }
    .UnFollow {
      background-color: #5a5554;
      color: #fff;
      &:hover {
        background-color: #2e424e;
        border-color: #54768b;
      }
    }
  }
}
