.SliderDots {
  text-align: right;
  margin-right: 5.7rem;
}
.Dots {
  position: relative;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(207, 204, 204, 0.596);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.9s ease;
  z-index: 200;
  cursor: pointer;
}
