@import "../../../mixins";

.Image {
  padding-top: 1rem;
  height: 20rem;
  img {
    height: 100%;
    width: 100%;
  }
  @include respond-to(tablets) {
    display: none;
  }
  @include respond-to(mobile-landscape) {
    display: none;
  }

  @include respond-to(mobile) {
    display: none;
  }
}

.Actions {
  margin-top: -7rem;
  span {
    display: block;
    padding-bottom: 1rem;
  }
  a {
    text-decoration: none;
    color: #395161;
  }
}
