.Actions {
  margin-top: -.5rem;
  span {
    display: block;
    padding-bottom: 0.5rem;
  }
  a {
    text-decoration: none;
    color: #395161;
  }
}
.CheckTerms {
  font-size: .9rem !important;

  a {
    text-decoration: none;
    color: #2e424e;
    font-style: italic;
   
  }

}


