.Statistics {
  margin-top: 5rem;
  width: 84%;
  height: 7rem;
  box-shadow: rgba(0, 0, 0, 0.116) 0px 0px 10px;
  color: #5a5554;
  font-family: sans-serif;
  padding-top: 2.5rem;
  padding-left: 7rem;
  div {
    padding-right: 1rem;
    display: inline-block;
  }
}
