.Invalid {
  border: 1px solid red;
  background-color: #fda49a;
}

.InputElement {
  outline: none;
}

.InputElement:focus,
.InputElement:checked,
.InputElement:hover,
.InputElement:active,
.InputElement:target {
  border-color: #54768b5e;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}