.Invalid {
  border: 1px solid red;
  background-color: #fda49a;
}

.InputElement {
  border: none;
  font-family: "M PLUS 1p", sans-serif;
  height: 2rem;
  width: 13rem;
  border-bottom: 1px rgba(0, 0, 0, 0.157) solid;
  outline: none;
}

.InputElement:focus,
.InputElement:checked,
.InputElement:hover,
.InputElement:active,
.InputElement:target {
  border-color: #54768b5e;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}