@import "../../../mixins";

.Left {
  grid-area: auth-left-side;
  background-color: #395161;
}
.Text {
  text-align: center;
  padding: 16.3rem 3rem;
  color: rgb(246, 243, 243);
  font-family: sans-serif;
  font-family: "Open Sans", sans-serif;
  h1 {
    font-size: 2rem;
    color: #f6f3f3;
  }
  p {
    font-size: 1.2rem;
  }
  a {
    color: rgb(246, 243, 243);
    background-color: #395161;
  }
  @include respond-to(tablets) {
    text-align: center;
    padding: 2.3rem 5rem;
    color: rgb(246, 243, 243);
    font-family: sans-serif;
    font-family: "Open Sans", sans-serif;
  }
  @include respond-to(mobile-landscape) {
    text-align: center;
    padding: 2.3rem 1rem;
    color: rgb(246, 243, 243);
    font-family: sans-serif;
    font-family: "Open Sans", sans-serif;
  }
  @include respond-to(mobile) {
    text-align: center;
    padding: 2.3rem 1rem;
    color: rgb(246, 243, 243);
    font-family: sans-serif;
    font-family: "Open Sans", sans-serif;
  }
  h1 {
    font-size: 1.5rem;
    color: #f6f3f3;
  }
  p {
    font-size: 1rem;
  }
}
