.Number {
  font-weight: 700;
  width: fit-content;
  font-size: x-large;
  border-right: #54768b 1px solid;
}
.Title {
  margin-top: 1rem;
  width: 6rem;
  margin-left: 1rem;
  line-height: 1.2;
  font-size: 0.8rem;
}
