$desktop: 1024px;
$large-desktop: 1200px;
$tablets: 768px;
$tablets-landscape: 1024px;
$mobile: 375px;
$mobile-landscape: 425px;
$mall-mobile: 320px;
// @import "../../mixins";@include respond-to(tablets) {
//   margin: 0;
//   height: 51.25rem;
//   display: grid;
//   grid-template-areas:
//     "auth-left-side auth-left-side "
//     "auth-right-side auth-right-side";
//   grid-template-rows: 35% 65%;
//   overflow: hidden;
// }
@mixin respond-to($media) {
  @if $media == largeDesktop {
    @media only screen and (min-width: $large-desktop) {
      @content;
    }
  }
  @if $media == desktop {
    @media only screen and (max-width: $desktop) {
      @content;
    }
  }
  @if $media == tablets {
    @media only screen and (max-width: $tablets) {
      @content;
    }
  }
  // @if $media == tablets-landscape {
  //   @media only screen and (min-device-width: $tablet) and (max-device-width: $tablets-landscape) and (orientation: landscape) {
  //     @content;
  //   }
  // }
  @if $media == mobile {
    @media only screen and (max-width: $mobile) {
      @content;
    }
  }
  // @if $media == mobile-portrait {
  //   @media only screen and (max-width: $mobile) and (orientation: portrait) {
  //     @content;
  //   }
  // }
  @if $media == mobile-landscape {
    @media only screen and (max-width: $mobile-landscape) {
      @content;
    }
  }
  @if $media == small-mobile {
    @media only screen and (max-width: $mall-mobile) {
      @content;
    }
  }
  // @if $media == mobile-landscape {
  //   @media only screen and (min-width: 375px) and (max-width: $mobile-landscape) and (orientation: landscape) {
  //     @content;
  //   }
  // }

  @if $media == retina {
    @media (-webkit-min-device-pixel-ratio: 2) {
      @content;
    }
  }

  @if $media == iphone5 {
    @media only screen and (device-aspect-ratio: 40/71) {
      @content;
    }
  }
}
