.Sliders {
  display: grid;
}
.Carousel {
  width: 20%;
  height: 13rem;
  border-radius: 5px;
  counter-increment: carousel-cell;
  img {
    width: 78%;
    height: 75%;
    object-fit: cover;
    border-radius: 0.4rem;
  }
}
.Title {
  width: fit-content;
  font-family: 'M PLUS 1p', sans-serif;
  line-height: 1;
  padding-bottom: 0.5rem;
  padding-left: 0.3rem;
  color: #ffffff !important;
  font-size: 0.7rem;
  z-index: 20;
}
.Detail {
  font-family: 'M PLUS 1p', sans-serif;
  color: #ffffff;
  font-size: 0.4rem;
}
